{% extends "base.html" %}

{% block jquery %}

  $signUpCount = {{ count }};

  function completeAll(countId){
    $(countId).css("width", "100%").attr("aria-valuenow","100").text("Completed");
}
  function completePercent(countId, newPercent){
    $(countId).css("width", newPercent+"%").attr("aria-valuenow", newPercent).text(newPercent+"%");
}

  if($signUpCount > 0 && $signUpCount <=5){
    $newPercent = Math.round($signUpCount/5 * 100);
    completePercent("#count5", $newPercent);
}else if($signUpCount > 5 && $signUpCount <=10){
    $newPercent = Math.round($signUpCount/10 * 100);
    completeAll("#count5");
    completePercent("#count10", $newPercent);
}else if($signUpCount > 10 && $signUpCount <=20){
    $newPercent = Math.round($signUpCount/20 * 100);
    completeAll("#count5");
    completeAll("#count10");
    completePercent("#count20", $newPercent);
}else if($signUpCount > 20 && $signUpCount <=40){
    $newPercent = Math.round($signUpCount/40 * 100);
    completeAll("#count5");
    completeAll("#count10");
    completeAll("#count20");
    completePercent("#count40", $newPercent);
}else if($signUpCount > 40){
    completeAll(".progress-bar");
}
{% endblock %}

{% block content %}
	<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" id="share">
      <div class="container">
      	<div class="row">
        <div class="col-sm-6 pull-right" style="text-align:center;">
          <h1>Invite Friends &amp; Get Prize!</h1>
          <p>Share your unique link below via Email, Facebook, Twitter, Reddit or LinkedIn to get prize.</p>
          <div class="well">
          	<p>{{ ref_url }}</p>
          </div>
          	<br/>
          	<a href="https://www.facebook.com/sharer/sharer.php?u={{ ref_url }}" target="_blank">
          <i class="fa fa-facebook-square fa-4x" style="color:#3b5998"></i>
          </a>

          <a href="https://twitter.com/home?status=Hello%20this%20is%20a%20%23tag%20that%20I%20want%20to%20share%20at%20some%20point.%20Tweet%20%40justinmitchel.%20{{ ref_url }}" target="_blank">

           <i class="fa fa-twitter-square fa-4x" style="color:#4099FF"></i>
		</a>
			<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ ref_url}}&title=Hello%20this%20this%20is%20a%20title.&summary=Hello%20this%20this%20is%20a%20title.&source={{ ref_url }}" target="_blank">
            <i class="fa fa-linkedin-square fa-4x" style="color:#007bb6"></i>
            </a>
            <a href="http://www.reddit.com/submit?url={{ ref_url }}&title=Hello%20this%20this%20is%20a%20title." target="_blank">
             <i class="fa fa-reddit-square fa-4x" style="color:#900020"></i>
             </a>
             <a href='https://plus.google.com/share?url={{ ref_url }}' target="_blank">
              <i class="fa fa-google-plus-square fa-4x" style="color:#D34836"></i>
              </a>
        </div>
        <div class="mount pull-left">
          <img src="https://ppcdn.500px.org/92054787/db934b54288848d6c3e49e22fab4209df88bba87/5.jpg" id="mount" class="img-circle img-responsive">
        </div>
        </div>
      </div>
    </div>
    <div class="container" style="text-align:center;">
		
		<h4>Joined {{ count }} friends</h4>
    <div class="row">
      <div class="col-sm-3">
        <h3>5 Friends Joined</h3>
        <div class="progress">
          <div class="progress-bar" id="count5" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"> 0%
          </div>
        </div>
        <hr/>
        <h4>Reward Name</h4>
          <img src="https://cfe-static.s3.amazonaws.com/static/img/ico/apple-touch-icon-72-precomposed.png" />
          <hr/>
        <h4>Prize:</h4>
          <p>Something</p>
        <hr/>
      </div>
      <div class="col-sm-3">
        <h3>10 Friends Joined</h3>
        <div class="progress">
          <div class="progress-bar" id="count10" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">0%
          </div>
        </div>
        <hr/>
        <h4>Reward Name</h4>
          <img src="https://cfe-static.s3.amazonaws.com/static/img/ico/apple-touch-icon-72-precomposed.png" />
          <img src="https://cfe-static.s3.amazonaws.com/static/img/ico/apple-touch-icon-72-precomposed.png" />
          <hr/>
        <h4>Prize:</h4>
          <p>Something</p>
        <hr/>
      </div>
      <div class="col-sm-3">
        <h3>20 Friends Joined</h3>
        <div class="progress">
          <div class="progress-bar" id="count20" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">0%
          </div>
        </div>
        <hr/>
        <h4>Reward Name</h4>
          <img src="https://cfe-static.s3.amazonaws.com/static/img/ico/apple-touch-icon-72-precomposed.png" />
          <img src="https://cfe-static.s3.amazonaws.com/static/img/ico/apple-touch-icon-72-precomposed.png" />
          <hr/>
        <h4>Prize:</h4>
          <p>Something</p>
        <hr/>
      </div>
      <div class="col-sm-3">
        <h3>40 Friends Joined</h3>
        <div class="progress">
          <div class="progress-bar" id="count40" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">0%
          </div>
        </div>
        <hr/>
        <h4>Reward Name</h4>
          <img src="https://cfe-static.s3.amazonaws.com/static/img/ico/apple-touch-icon-72-precomposed.png" />
          <img src="https://cfe-static.s3.amazonaws.com/static/img/ico/apple-touch-icon-72-precomposed.png" />
          <hr/>
        <h4>Prize:</h4>
          <p>Something</p>
        <hr/>
      </div>
    </div>
	</div>

{% endblock %}